body{
    background-color: linear-gradient(#02effa 0%,#3103fb 100%);
}
#home{
    text-align: center;
}
.floral{
    list-style: none;
    font-family: helvetica;
    float: right;
    top: 10px;
    right: 30px;
    cursor: pointer;
    color: aqua;
    scroll-behavior: smooth;
}
img{
    height: 300px;
    width: 300px;
}
#welcome{
    height: 700px;
    width: 700px;
}